* {
  margin: 0;
  padding: 0;
}

html {
  background-image: linear-gradient(45deg, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-container {
  position: relative;
  width: 95%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: -5px 5px 10px #330867;
  border: 1px solid blue;
  aspect-ratio: 16/9;
}

.img-container {
  position: relative;
  width: calc(var(--width) * 100%);
  height: 100%;
  display: flex;
  transform: translateX(calc((-100% / var(--width))));
}

.slide-image {
  width: calc((100% / var(--width)));
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  border: none;
  z-index: 1;
  top: 50%;
  padding: 10px;
  background-color: #000000;
  transform: translateY(-50%);
  color: white;
  border-radius: 5px;
  opacity: 0.7;
  cursor: pointer;
}
button:hover {
  opacity: 0.6;
  box-shadow: 3px 3px 5px black;
}
button:active {
  box-shadow: none;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}

#indicator {
  position: absolute;
  height: 20px;
  width: 80%;
  z-index: 1;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.indicator-dot {
  position: relative;
  height: 5px;
  width: 30px;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
  cursor: pointer;
}

.indicator-dot:hover {
  background-color: red;
  box-shadow: 3px 3px 10px hsla(0, 100%, 50%, 0.7);
}
.indicator-dot:active {
  box-shadow: none;
}

.active {
  background-color: blue !important;
  box-shadow: 3px 3px 10px hsla(240, 100%, 50%, 0.7) !important;
}
